014 Exporting a data  requrest to csv/014 Exporting a data  requrest to csv.json
[
  {
    "id": "5c084222b861db1a",
    "type": "inject",
    "z": "76a7fd330e958650",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 200,
    "y": 220,
    "wires": [
      [
        "37515d15c02698d5"
      ]
    ]
  },
  {
    "id": "37515d15c02698d5",
    "type": "luxmsbi-dump-sql",
    "z": "76a7fd330e958650",
    "name": "SQL запрос в файл",
    "dataSource": "luxmsbi",
    "sqlQuery": "SELECT t.day::date as dt, random() * 100 + 44 AS plan,  random() * 100 AS fakt\nFROM   generate_series(timestamp '2022-05-01'\n                     , timestamp '2022-10-30'\n                     , interval  '1 day') AS t(day)\norder by t.day::date",
    "csvWithNames": true,
    "csvDelimiter": "comma",
    "x": 420,
    "y": 220,
    "wires": [
      [
        "39292be271e8c45f"
      ]
    ]
  },
  {
    "id": "39292be271e8c45f",
    "type": "function",
    "z": "76a7fd330e958650",
    "name": "function 6",
    "func": "flow.set(\"path\", msg.payload.sink)\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 220,
    "wires": [
      [
        "d8940bf995280344"
      ]
    ]
  },
  {
    "id": "d8940bf995280344",
    "type": "debug",
    "z": "76a7fd330e958650",
    "name": "debug 38",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 780,
    "y": 220,
    "wires": []
  }
]